<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="NuGet.PackageManagement.UI" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.PackageManagement.VisualStudio" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.VisualStudio.Common" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.VisualStudio" version="4.9.1-zlocal.52990"/>		
	<package id="NuGet.Commands" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Credentials" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Common" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Configuration" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Frameworks" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Indexing" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.LibraryModel" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.PackageManagement" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Packaging.Core" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Packaging" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.ProjectModel" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.DependencyResolver.Core" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Protocol" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Resolver" version="4.9.1-zlocal.52990"/>
	<package id="NuGet.Versioning" version="4.9.1-zlocal.52990"/>
	<package id="TestNoSymbolsNewtonsoft.Json" version="12.0.1"/>
</packages>